<!DOCTYPE html>
<html lang="<%= locals.foo %>">
  <head>
    <meta charset="utf-8"/>
    <title>My First Parcel App</title>
    <link rel="stylesheet" href="style.scss" />
    <script type="module" src="app.jsx"></script>
    <script src="mapstyle.js"></script>
  </head>
  <body>
    <div id="react_root"></div>
    <div id="scene_container"></div>
  </body>
</html>